:host {
  background-color: #DDD;
  padding: 1rem;
}

form {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 0.5em 1em;

  margin: 20px 0;

  label {
    color: black;
    font-weight: bold;
    text-align: right;
  }

  input, select {
    padding: 0.3em 0.6em;
    
    border: 1px solid black;
    border-radius: 4px;
    
    font-size: 1.1rem;

    &:not([type="checkbox"]) {
      min-width: 150px;
    }

    &[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
  }
}