<section class="rover-grid-wrapper">
  <dl>
    <dt>Plateau Length X</dt>
    <dd>{{ width }}</dd>

    <dt>Plateau Length Y</dt>
    <dd>{{ height }}</dd>

    <dt>Rover Position</dt>
    <dd>{{ rover.position.x }}, {{ rover.position.y }}</dd>

    <dt>Rover Direction</dt>
    <dd>{{ rover.position.d }}</dd>

    <dt>Rover Instructions</dt>
    <dd>{{ rover.instructions }}</dd>
  </dl>

  <div 
    class="rover-grid"
    [ngStyle]="{ '--cellsPerRow': 20 }"
  >
    <div *ngFor="let cell of cells; index as i">
      <div *ngIf="i === roverPositionIndex">
        <div class="rover" [ngStyle]="roverStyles">&gt;</div>
      </div>
    </div>
  </div>
</section>