dl {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto;
  gap: 0.5em 1em;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}

.rover-grid {
  --cellSize: 30px;

  position: relative;
  width: fit-content;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(var(--cellsPerRow), var(--cellSize));
  grid-auto-rows: var(--cellSize);
  gap: 1px;

  background-color: black;
  border: 1px solid black;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    user-select: none;
  }

  .rover {
    position: absolute;
  
    height: var(--cellSize);
    width: var(--cellSize);
  
    background: transparent;
  
    font-size: 2em;
    font-weight: bold;
  
    transition: top 0.9s, left 0.9s;

    &.falling {
      animation: falling 5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes falling {
  0% {
    transform: scale(1) rotateZ(0deg);
  } 
  
  100% {
    transform: scale(0) rotateZ(1800deg);
  }
}
